In [3]:
import pandas as pd
data={"字串":["台北","台中"],"int":[3000,1000],"float":[3.25,7.39]}

df=pd.DataFrame(data)
df

   字串   int  float
0  台北  3000   3.25
1  台中  1000   7.39

In [9]:
#視覺美化資料表
#pip install jinja2
df.style.format(precision=2,thousands=",",decimal=".")\
.relabel_index(["列1","列2"])

In [22]:
import numpy as np
data=np.random.rand(10,2)*5
df=pd.DataFrame(data,columns=["台北","台中"],index=pd.date_range(start="2023-09-01",periods=10))

df

                  台北        台中
2023-09-01  1.962714  1.801831
2023-09-02  1.331221  0.245428
2023-09-03  0.849649  1.435599
2023-09-04  2.725005  3.903021
2023-09-05  0.691547  1.036305
2023-09-06  1.208797  4.975932
2023-09-07  0.742705  1.758155
2023-09-08  0.869426  2.731292
2023-09-09  3.067595  0.503616
2023-09-10  4.804624  2.255813

In [23]:
#這裡我沒聽到
#視覺美化資料表
def feel_condition(v):
    if v < 1.75:
        return "溫暖"
    elif v < 2.75:
        return "潮溼"
    else:
        return "日照"
    
df.style\
.format(feel_condition)\
.set_caption("體感溫度")\
.background_gradient(cmap="PuBuGn",vmin=1,vmax=5,axis=None)

In [26]:
#隱藏不要讓別人看到
df=pd.DataFrame(np.random.rand(5,5))

df.style.hide(subset=[2],axis=0)\
    .hide(subset=[1,3],axis=1)

In [37]:
df=pd.DataFrame(np.random.randn(10,4),columns=["a","b","c","d"])
display(df)

def style_negative( v, props=""):
    return props if v< 0 else None#None就不會有特效
df.style.map(style_negative,props="color:red;")

          a         b         c         d
0 -0.846919  1.123427 -0.833899  0.429972
1  0.041105 -1.681197  0.045104 -1.008840
2 -1.422151 -1.502166  0.810324  0.892460
3 -1.731801  0.514460  0.977968 -2.327342
4  0.382306  0.820721 -2.633959 -0.952972
5  0.169575  0.239469  0.988347  0.078340
6 -0.410983 -0.407745  0.585755  1.133485
7 -1.620561  1.273838 -0.027225 -0.431587
8 -1.151435  0.508322 -0.197097 -0.232431
9  0.106513 -0.250746  0.583634  1.245289